.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.whole-container{
  background-color: #10121e;
}

.widget-container{
  background: linear-gradient(to bottom, #B2E7FF, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  margin-top: 50px;
  height: 300px;
}

.reservas-container{
  background: linear-gradient(to bottom, #A7A7A7, #F8F8F8);
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 50px;
}

.about-container{
  background: linear-gradient(to bottom, #C7E5AA, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  margin-top: 50px;
  padding: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
